/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */





#zone-content{
	background-color: #ffffff;
	color: #000000;
}

.site-name a:link, .site-name a:visited{
	color: #ffffff;
}

/* nuke all page titles  front and others*/
.front #page-title {
	display: none;
}
#page-title{
	display:none;
}

body {
	background-color:#b0c4de;
}	
	