/*

	local.css 
	created by: Selwyn
	on: 1-8-2013
	updated: 1-8-2018
	
*/

/****** event ***********/

/*
.node-type-cal_event .date-display-single
{
	font-size: 18px;
  background-color: #ffffff;
}

.gmap-auto2map-gmap{
  border: 2px solid black;
}

#pid-event-volunteer-tree-planting-0{
background-color: red;
}

.field-field-location
{
background-color: red;
}
*/
